@font-face {
    font-family: 'Exo2-Regular';
    src: url('fonts/Exo2-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Exo2-Bold';
    src: url('fonts/Exo2-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Exo2-SemiBold';
    src: url('fonts/Exo2-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}


*{
    font-family: "Exo2-Regular" !important;
}

header{
    background: white;
}

header .section_navbar{
    width: 90%;
    margin: 0 auto;
}

header .bg-light{
    background-color: transparent !important;
    padding: 0 !important;
}

header .navbar-brand{
    margin: 0;
}

header .navbar-brand img{
    width: 70px;
}

header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .nav-link:hover{
    padding: 13px 30px;
    font-size: 14px;
    color: #555a5d;
    font-family: "Exo2-Regular" !important;
}

header .navbar-light .navbar-nav .nav-link.active{
    background: #007b2b;
    color: white;
}

.bx-wrapper{
    border: 0 !important;
    margin-bottom: 0 !important;
}

.slider_section .slider_1{
    background: url("../img/front/home/slide-1-bg-img.jpg") center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_section .slider_2{
    background: url("../img/front/home/slide-2-bg-img.jpg") center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider_section article{
    /*height: 500px;*/
}

.slider_section .bx-wrapper .bx-pager{
    padding: 0;
    bottom: 20px;
}

.slider_section .bx-wrapper .bx-pager-item{
    border: 1px solid white;
    padding: 4px;
    border-radius: 10000px;
    margin: 0px 3px;
}

.slider_section .bx-wrapper .bx-pager.bx-default-pager a{
    margin: 0;
}

.slider_section .bx-wrapper .bx-pager.bx-default-pager a.active, .slider_section .bx-wrapper .bx-pager.bx-default-pager a.active:hover{
    background: #acc900;
}

.slider_section .bx-wrapper .bx-pager.bx-default-pager a{
    background: transparent;
}

.slider_section .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: #809f00;
}

.footer_section{
    padding: 20px 0;
    border-top: 1px solid #e8e8e8;
}

.footer_section footer{
    width: 90%;
    margin: 0 auto;
}

.footer_section .facebook{
    background: url("../img/front/footer/fb-footer-off-btn.svg") center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 20px;
}

.footer_section .facebook:hover{
    background: url("../img/front/footer/fb-footer-on-btn.svg") center center no-repeat !important;
    background-size: cover !important;
}

.footer_section .instagram{
    background: url("../img/front/footer/ig-footer-off-btn.svg") center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 0 0 20px;
}

.footer_section .instagram:hover{
    background: url("../img/front/footer/ig-footer-on-btn.svg") center center no-repeat !important;
    background-size: cover !important;

}

.footer_section .fallabella-servicios-financieros{
    width: 100%;
    max-width: 180px;
}

.footer_section .terminos a, .footer_section .terminos a:hover{
    font-family: "Exo2-Regular" !important;
    color: #555a5d;
    font-size: 13px;
    padding: 0;
    text-align: center;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.footer_section .terminos div:nth-child(2){
    border-right: 1px solid #555a5d;
    border-left: 1px solid #555a5d;
}

.footer_section .terminos div{
    display: inline-block;
    padding: 0 13px;
}






















.dialogue-box {
    display: inline-block;
    background: WHITE;
    padding: 40px 30px 50px 30px;
    border-radius: 10px;
    position: relative;
}

.dialogue-box .dialogue-box-direction-triangle {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    position: absolute;
    right: -35px;
    bottom: -39px;
}

.dialogue-box .dialogue-box-direction-triangle:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: WHITE;
    transform: rotate(45deg);
    top: 75px;
    left: 25px;
}

.dialogue-box .dialogue-box-txt {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.dialogue-box p {
    margin: 0;
    padding: 0;
}

.dialogue-box .first-line {
    font-style: italic;
    font-weight: 700;
    font-size: 21px;
    line-height: 21px;
    color: #585b5d;
    font-family: "Exo2-Bold" !important;
}

.dialogue-box .second-line {
    line-height: 150%;
    font-weight: 400;
    font-size: 42px;
    line-height: 53px;
    color: #585b5d;
}


.dialogue-box .second-line-small {
    line-height: 150%;
    font-weight: 400;
    font-size: 33px;
    color: #585b5d;
}

.dialogue-box .third-line {
    line-height: 45px;
    font-style: italic;
    font-weight: 700;
    font-size: 47px;
    color: #52b125;
    font-family: "Exo2-Bold" !important;
}

.dialogue-box .description-line {
    line-height: 17px;
    font-weight: 400;
    font-size: 16px;
    color: #585b5d;
    margin-top: 30px;
    margin-bottom: 35px;
}

.dialogue-box .descarga-xlm {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: WHITE;
    text-align: left;
    padding: 0px 0px 0px 20px;
    width: 100%;
    padding: 15px 20px;
    background: #52b125;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.dialogue-box .descarga-xlm:after {
    content: url(../img/descargar-icon.svg);
    float: right;
    max-width: 25px;
    width: 100%;
    margin-right: 15px;
    display: inline-block;
}

.dialogue-box .descarga-xlm:hover {
    background-color: #007935;
}

.slider_1 .character{
    display: inline-block;
    vertical-align: top;
    margin-top: 140px;
}

.slider_1 .content_slider{
    width: 100%;
    bottom: 7%;
    position: absolute;
    margin: 0;
}

.slider_2 .character{
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}

.slider_2 .content_slider{
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0;
}

.dialogue-box-small-padding{
    padding: 30px 30px 40px 30px !important;
}

.eddu-te-aconseja{
    display: inline-block;
    width: 100%;
}

.eddu-te-aconseja .banner{
    display: inline-block;
    width: 100%;
}

.eddu-te-aconseja .title{
    color: #00b300;
    font-size: 30px;
    font-family: "Exo2-Bold" !important;
    margin: 0;
}

.eddu-te-aconseja .subtitle{
    color: #575b5e;
    font-size: 26px;
    margin: 0;
}

.eddu-te-aconseja .description{
    color: #575b5e;
    font-size: 22px;
    margin: 0;
}

.eddu-te-aconseja .categorias a img{
    display: inline-block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.eddu-te-aconseja .categorias a p{
    margin: 0;
    color: #555a5d;
    font-family: "Exo2-Bold" !important;
    font-size: 19px;
    padding: 18px 0 30px 0;
}

.eddu-te-aconseja .categorias a{
    border-radius: 20px;
    padding-top: 25px;
    margin-bottom: 10px;
}

.eddu-te-aconseja .categorias a:hover{
    background: #eeeeee;
    -webkit-box-shadow: 0px 13px 11px 0px rgba(231,231,231,1);
    -moz-box-shadow: 0px 13px 11px 0px rgba(231,231,231,1);
    box-shadow: 0px 13px 11px 0px rgba(231,231,231,1);
    cursor: pointer;
    text-decoration: none;
}











.eddu-te-categoria{
    display: inline-block;
    width: 100%;
}

.eddu-te-categoria .banner{
    display: inline-block;
    width: 100%;
}

.eddu-te-categoria .steps{
    color: #565a5d;
}

.eddu-te-categoria .steps a, .eddu-te-categoria .steps a:hover{
    color: #c2c6c9 !important;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
}

.eddu-te-categoria .steps a:last-child{
    color: #565a5d !important;
}

.eddu-te-categoria .title{
    color: #00b300;
    font-size: 30px;
    font-family: "Exo2-Bold" !important;
    margin: 0;
}

.eddu-te-categoria .articulos .articulo:hover {
    background: #eeeeee;
}

.eddu-te-categoria .articulos .articulo{
    border-radius: 20px;
    padding: 20px 0;
    margin-bottom: 10px;
}

.eddu-te-categoria .articulos .articulo img{
    width: 100%;
    max-width: 200px;
}

.eddu-te-categoria .articulos .articulo .title{
    color: #575b5e;
    font-size: 23px;
    font-family: "Exo2-Bold" !important;
    margin: 0;
    margin-bottom: 15px;
}

.eddu-te-categoria .articulos .articulo .description{
    color: #575b5e;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;

    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
}





.eddu-te-categoria .articulos .articulo a, .eddu-te-categoria .articulos .articulo a:hover{
    background: #00b300;
    color: white;
    padding: 12px 45px;
    border-radius: 5px;
    font-family: "Exo2-Bold" !important;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
}

.eddu-te-categoria .articulos .articulo .dots{
    background: url("../img/front/interior-ahorrar/dots.png") center center repeat-x !important;
    height: 2px;
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}








.descripcion-articulo .banner{
    display: inline-block;
    width: 100%;
}

.descripcion-articulo .steps {
    color: #565a5d;
}

.descripcion-articulo .steps a, .descripcion-articulo .steps a:hover {
    color: #c2c6c9 !important;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
}

.descripcion-articulo .steps a:last-child {
    color: #565a5d !important;
}

.descripcion-articulo .title {
    color: #00b300;
    font-size: 30px;
    font-family: "Exo2-Bold" !important;
    margin: 0;
}

.descripcion-articulo .description{
    color: #575b5e;
    font-size: 18px;
    margin: 0;
}

.descripcion-articulo .green_text{
    color: #00b300;
    font-size: 18px;
    margin: 0;
    font-family: "Exo2-Bold" !important;
}











.diccionario .banner{
    display: inline-block;
    width: 100%;
}

.diccionario .title{
    color: #00b300;
    font-size: 30px;
    font-family: "Exo2-Bold" !important;
    margin: 0;
}

.diccionario .subtitle{
    color: #575b5e;
    font-size: 26px;
    margin: 0;
}

.diccionario .description{
    color: #575b5e;
    font-size: 22px;
    margin: 0;
}

.diccionario .input_search{
    display: inline-block;
    width: 100%;
    border: 1px solid #cacaca;
    border-radius: 2px;
    text-align: left;
    margin-bottom: 15px;
    /*background: url("../img/front/diccionario/buscar-icon.svg") center right no-repeat !important;*/
    /*background-size: 25px !important;*/
    /*background-position: right 13px center !important;*/
}

.diccionario .input_search input {
    width: 95%;
    border: 0;
    outline: none;
    background: white;
    font-size: 18px;
    color: #575b5e;
    padding: 10px 0px 10px 15px;
    float: left;
}

.diccionario .input_search button {
    width: 5%;
    float: left;
    height: 47px;
    background: url("../img/front/diccionario/buscar-icon.svg") center right no-repeat !important;
    background-size: 25px !important;
    background-position: center center !important;
    background-color: white;
    border: 0;
    outline: none;
    cursor: pointer;
}

.diccionario .abecedario a{
    text-align: center;
    color: #d0d4d7;
    font-size: 20px;
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    border-radius: 3px;
    width: 38px;
    line-height: 38px;
    display: block;
    margin: 0 auto;
}

.diccionario .abecedario a:hover {
    background: #00b300;
    text-decoration: none;
    color: white;
}


.diccionario .dots {
    background: url(../img/front/interior-ahorrar/dots.png) center center repeat-x !important;
    height: 2px;
    width: 100%;
    display: inline-block;
}


.diccionario .resultados .title{
    color: #575b5e;
    font-size: 20px;
    margin: 0;
    font-family: "Exo2-Regular" !important;
}


.diccionario .resultados .label_resultados{
    color: #575b5e;
    font-size: 15px;
    margin: 0;
    font-family: "Exo2-Regular" !important;
}


.diccionario .resultados .label_resultados .green_number{
    font-family: "Exo2-Bold" !important;
    color: #00b300;
}


.diccionario .resultados .label_resultados .palabra_buscar{
    font-family: "Exo2-Bold" !important;
}


.diccionario .resultados .title_diccionario{
    color: #575b5e;
    font-size: 19px;
    margin: 0;
    font-family: "Exo2-Bold" !important;
    margin-bottom: 7px;
}

.diccionario .resultados .title_diccionario .green_number{
    color: #00b300;
    font-family: "Exo2-Bold" !important;
}

.diccionario .resultados .definition{
    color: #575b5e;
    font-size: 19px;
    margin: 0;
}


.diccionario .resultados article{
    margin-bottom: 30px;
}









