


@media only screen and (max-width: 414px) {

    .section_navbar{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .slider_1 .character {
        margin-top: 50px;
        width: 160;
        float: right;
    }

    .dialogue-box .second-line-small{
        font-size: 20px;
        line-height: 23px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .dialogue-box .third-line{
        font-size: 23px;
        line-height: 23px;
    }

    .dialogue-box .dialogue-box-direction-triangle{
        right: 80px;
    }

    .dialogue-box{
        max-width: 90%;
        margin: 0 5% !important;
        padding: 10px 10px 20px 10px !important;
    }

    .slider_2 .character{
        margin-top: 50px;
        width: 220px;
        float: right;
    }

    .dialogue-box .descarga-xlm{
        padding: 5px 10px;
        text-align: center;
        font-size: 13px;
    }

    .dialogue-box .description-line{
        line-height: 17px;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .dialogue-box .second-line{
        font-size: 20px;
        line-height: 23px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .dialogue-box .first-line{
        font-size: 17px;
        line-height: 18px;
    }

    .footer_section{
        text-align: center;
    }

    .footer_section .fallabella-servicios-financieros{
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer_section .terminos a, .footer_section .terminos a:hover{
        font-size: 17px;
        margin: 5px 0px;
    }

    .footer_section .terminos div:nth-child(2){
        border: 0;
    }

    .footer_section .social-network{
        text-align: center !important;
        margin-top: 10px;
    }

    .footer_section .facebook{
        margin-left: 0;
    }

    .navbar-nav{
        margin-top: 10px;
    }

    .eddu-te-aconseja .title {
        font-size: 23px;
    }

    .eddu-te-aconseja .subtitle {
        font-size: 24px;
    }

    .eddu-te-aconseja .description {
        font-size: 20px;
        line-height: 24px;
    }

    .hidden-phone {
        display: none !important;
    }

    .eddu-te-aconseja .categorias a p{
        padding: 5px 0 0px 0;
    }

    .eddu-te-aconseja .categorias a{
        padding-top: 25px;
        margin-bottom: 0px;
    }

    .eddu-te-categoria .articulos .articulo img{
        max-width: 140px;
        margin-bottom: 10px;
    }

    .eddu-te-categoria .articulos .articulo .title {
        font-size: 20px;
        line-height: 21px;
        margin-bottom: 5px;
    }

    .eddu-te-categoria .articulos .articulo .description{
        margin-bottom: 20px;
    }

    .eddu-te-categoria .articulos .articulo a, .eddu-te-categoria .articulos .articulo a:hover{
        display: block;
        margin: 0 auto;
        width: 180px;
        text-align: center;
    }

    .eddu-te-categoria .articulos .articulo:hover{
        background: none;
    }

    .eddu-te-categoria .articulos .articulo {
        padding: 15px 0;
        margin-bottom: 0px;
    }

    .descripcion-articulo .title{
        font-size: 23px;
    }

    .diccionario .title{
        font-size: 23px;
    }

    .diccionario .subtitle{
        font-size: 24px;
    }

    .diccionario .description{
        font-size: 20px;
        line-height: 24px;
    }

    .diccionario .abecedario a{
        color: #575b5e;
        margin: 0px;
    }

    .diccionario .abecedario a:hover {
        background: transparent;
        text-decoration: none;
        color: #00b300;
    }

    .diccionario .resultados .definition{
        font-size: 17px;
    }

    .dialogue-box .descarga-xlm:after{
        max-width: 16px;
    }

    .diccionario .input_search input {
        width: 85%;
        float: left;
    }

    .diccionario .input_search button {
        width: 15%;
        float: left;
    }

}



@media only screen and (max-width: 780px) and (min-width: 415px) {

    .section_navbar{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .dialogue-box {
        max-width: 90%;
        margin: 0 5% !important;
        padding: 10px 10px 20px 10px !important;
    }

    .dialogue-box .second-line-small{
        font-size: 25px;
        line-height: 26px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .dialogue-box .third-line{
        font-size: 28px;
        line-height: 28px;
    }

    .dialogue-box .first-line{
        font-size: 24px;
        line-height: 24px;
    }

    .dialogue-box .second-line{
        font-size: 25px;
        line-height: 36px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .slider_2 .character{
        width: 100%;
        margin-top: 310px;
    }

    .dialogue-box .descarga-xlm{
        text-align: center;
    }

    .footer_section .terminos div:nth-child(2){
        border: 0px;
    }

    .navbar-nav{
        margin-top: 10px;
    }

    .hidden-tablet{
        display: none;
    }

    .eddu-te-aconseja .categorias a p{
        padding: 5px 0 0px 0;
    }

    .eddu-te-aconseja .categorias a{
        padding-top: 25px;
        margin-bottom: 0px;
    }

    .eddu-te-categoria .articulos .articulo:hover{
        background: none;
    }

    .diccionario .abecedario a{
        color: #575b5e;
        margin: 0px;
    }

    .diccionario .abecedario a:hover {
        background: transparent;
        text-decoration: none;
        color: #00b300;
    }

}