body, html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #007935;
}

.dialogue-box {
	width: 600px;
	height: 300px;
    background: WHITE;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.dialogue-box-direction-triangle {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    transform: rotate(45deg);
    position: absolute;
    right: -35px;
    bottom: -39px;
}

.dialogue-box-direction-triangle:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: WHITE;
    transform: rotate(45deg);
    top: 75px;
    left: 25px;
}

.dialogue-box-txt {
	font-family: 'Exo 2', sans-serif;
	text-align: center;
	padding: 3% 0%;
}

p {
	margin: 0;
	padding: 0;
}

.first-line {
	font-style: italic;
	font-weight: 700;
	font-size: 21px;
	color: #585b5d;
}

.second-line {
	line-height: 150%;
	font-weight: 400;
	font-size: 40px;
	color: #585b5d;
}

.third-line {
	line-height: 75%;
	font-style: italic;
	font-weight: 700;
	font-size: 45px;
	color: #52b125;
}

.description-line {
	line-height: 500%;
	font-weight: 400;
	font-size: 16px;
	color: #585b5d;
}

.descarga-xlm {
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
	font-size: 16px;
	color: WHITE;
	text-align: left;
	padding: 0px 0px 0px 20px;
	position: relative;
	z-index: 1;
	width: 470px;
	height: 50px;
	background: #52b125;
	border-radius: 5px;
	border: none;
}

.descarga-xlm:after {
  content: url(../img/descargar-icon.svg);
  float: right;
  max-width: 25px;
  width: 100%;
  margin-right: 15px;
  display: inline-block;
}

.descarga-xlm:hover {
	background-color: #007935;
}